<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <div class="container-detail">
                <div class="product-detail">
                    <div class="img-container-detail">
                        <img id="imageBox" src="/images/productos/<%- product.productImages[0].image %>">
                    </div>
                    <!--             <div class="product-small-img">
                <img src="/images/productos/" onclick="cambiar(this)">
                <img src="/images/productos/" onclick="cambiar(this)">
                <img src="/images/productos/" onclick="cambiar(this)">
                <img src="/images/productos/" onclick="cambiar(this)">
            </div> -->
                </div>
                <div class="inf-detail">
                    <h2 class="detail-name">
                        <%- product.name %>
                    </h2>
                    <h3 class="price-detail">$<%- product.price %>
                    </h3>
                    <h3 class="text-detail">
                        <%- product.stock %>
                    </h3>
                    <h3 class="text-detail">Envios a todo el país</h3>
                    <label class="text-detail" for="cantidad">Cantidad: </label>
                    <div class="cantidad">
                        <button type="button" class="btn-subtract" onclick="subtract();">
                            -
                        </button> 
                            <div id="count">1</div> 
                        <button type="button" class="btn-add" onclick="add();">
                            +
                        </button>
                    </div>
                    <div class="button-container-detail">
                        <!--                 <button class="button-detail">Agregar al carrito</button> -->
                        <button class="button-detail">Comprar</button>
                    </div>
                </div>
            </div>
            <section class="details">
                <article class="article-detalle">
                    <h4>Descripción</h4>
                    <p class="p-detalle">
                        <%- product.description %> 
                    </p>
                </article>
                <article class="article-detalle">
                    <h4>Conectividad:</h4>
                    <p class="p-detalle">
                        <%- product.conectivity %> 
                    </p>
                </article>
            </section>
            <script type="text/javascript">
                function cambiar(smallImg) {
                    var fullImg = document.getElementById("imageBox");
                    fullImg.src = smallImg.src;
                }
            </script>


            <%- include('../partials/footer') %>
            <script src="/js/productDetail.js"></script>




    </body>

</html>