<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="home-main">
                <div class="carrusel-div">
                    <div class="carrusel-img">
                        <img src="images/logos/banner.jpg" alt="pc">
                    </div>
                </div>
            </main>
            <section class="productos">
                <h3 class="title-card">Productos destacados</h3>
                <article class="productos-article">
                    <% products.forEach(product => { %>
                        <div class="productos-article__card">
                            <div class="card-img">                        
                                <img src="images/productos/<%- product/* .productImages[0] */.image %>" alt="pc">
                                <h5 class="descripcion-producto"><%- product.name %></h5>
                                <p class="price">$<%- product.price %></p>
                            </div>
                            <div class="button-producto">
                                <a href="/products/detail/<%- product.id %>">VER PRODUCTO</a>
                            </div>
                        </div>
                    <% }) %>
                </article>
            </section>


                <%- include('../partials/footer') %>
    </body>

</html>