<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header-admin') %>
    <main>
        <h3 class="title-card">Todos los productos</h3>
        <article class="productos-article">
            <% products.forEach(product => { %>
                <div class="productos-article__card">
                    <div class="card-img">                        
                        <a href="/products/detail/<%- product.id %>"><img src="images/productos/<%- product.image %>" alt="pc"></a>
                        <h5 class="descripcion-producto"><%- product.name %> </h5>
                        <p class="price">$<%- product.price %></p>
                    </div>
                    <div class="button-admin">
                        <button class="button-edit"><a href="admin/<%- product.id %>/edit">Editar</a></button>
                        <button class="button-delete"><a href="admin/<%- product.id %>/edit">Eliminar</a></button>
                    </div>
                </div>
            <% }) %>
        </article>
    </main>
</body>
</html>