<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <header class="logo-admin">
        <img class="logo-tech" src="/images/logos/eva.png" alt="techRam logo" width="10%" height="100%">
        <div class="burguer-responsive">
            <input type="checkbox" id="menu-responsive">
                <label for="menu-responsive"><i class="fas fa-bars"></i></label>
                <ul class="nav__ul">
                    <li class="nav__li"><a href="admin/" class="nav__a">PRODUCTOS</a></li>
                    <li class="nav__li"><a href="admin/create" class="nav__a">CREAR PRODUCTO</a></li>
                    <li class="nav__li"><a href="perfil" class="nav__a">NO SE</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <h3 class="title-card">Todos los productos</h3>
        <article class="productos-article">
            <% products.forEach(product => { %>
                <div class="productos-article__card">
                    <div class="card-img">                        
                        <a href="/products/detail/<%- product.id %>"><img src="images/productos/<%- product.image %>" alt="pc"></a>
                        <h5 class="descripcion-producto"><%- product.name %> </h5>
                        <p class="price">$<%- product.price %></p>
                    </div>
                    <div class="button-admin">
                        <button class="button-edit"><a href="#">Editar</a></button>
                        <button class="button-delete"><a href="admin/edit">Eliminar</a></button>
                    </div>
                </div>
            <% }) %>
        </article>
    </main>
</body>
</html>