<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="body-admin">
    <%- include('../partials/header-admin') %>
    <main class="products">
        <h3 class="title-admin">Todos los productos</h3>
        <div id="main-container">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descuento</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <% products.forEach(product => { %>
                <tr>
                    <td><%- product.id %></td>
                    <td><%- product.name %></td>
                    <td><%- product.discount %></td>
                    <td><%- product.price %></td>
                    <td><%- product.stock %></td>
                    <td><button class="button-edit">
                            <a href="/admin/<%- product.id %>/edit"><i class="fas fa-edit"></i></a>
                        </button>
                        <form action="/admin/<%- product.id %>?_method=DELETE" method="POST">
                            <button class="button-delete" type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </table>

        </div>
        <nav aria-label="...">
            <ul class="center">
                <li class="pagination <%- previous == null ? "disabled" : "" %>">
                    <a class="page-link" href="<%= previous == null? "#" : previous %>">&laquo;</a>
                </li>
                <% for( let i = 0; i < pages ; i++ ) { %>
                    <li class="pagination" <% currentPage == i ? "active" : "" %>><a class="page-link" href="http://localhost:3000/admin?page=<%= i %>&size=5"><%- i + 1 %></a>
                    </li>
                <% } %>
                <li class="pagination <%- next == null ? "disabled" : "" %>">
                    <a class="page-link" href="<%- next == null? "#" : next %>">&raquo;</a>
                </li>
            </ul>
          </nav>
<!--           <ul class="center">
            <li class="pagination <%- previous == null ? "disabled" : "" %> ">
                <a href="<%- previous == null? "#" : previous %>">&laquo;</a>
            </li>
            <% for( let i = 0; i < pages ; i++ ) { %>
                <li class="pagination" <% currentPage == i ? "active" : "" %> ><a href="http://localhost:3000/admin?page=<%= i %>&size=5" class=""><%- i + 1 %> </a></li>
            <% } %>           
            <li class="pagination <%- next == null ? "disabled" : "" %>">
                <a href="<%- next == null? "#" : next %>">&raquo;</a>
            </li>
          </ul> -->
    </main>
</body>
</html>