<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="body-admin">
    <%- include('../partials/header-admin') %>
    <main class="products">
        <h3 class="title-admin">Todos los productos</h3>
        <article class="rows">
            <div class="rows-div">
                <p class="title-rows">id</p>
                <p>holaaaa</p>
            </div>
            <div class="rows-div">
                <p class="title-rows">nombre</p>
                <p>holaaaa</p>
            </div>
            <div class="rows-div">
                <p class="title-rows">categoria</p>
                <p>holaaaa</p>
            </div>
            <div class="rows-div">
                <p class="title-rows">subcategoria</p>
                <p>holaaaa</p>
            </div>
            <div class="rows-div">
                <p class="title-rows">precio</p>
                <p>holaaaa</p>
            </div>
            <div class="rows-div">
                <p class="title-rows">descuento</p>
                <p>holaaaa</p>
            </div>
        </article>
<!--         <article class="productos-article-admin">
            <% products.forEach(product => { %>
                <div class="productos-article__card-admin">
                    <div class="card-img">                        
                        <a href="/products/detail/<%- product.id %>"><img src="images/productos/<%- product.productImages[0].image %>" alt="pc"></a>
                        <h5 class="description-product"><%- product.name %></h5>
                        <p class="price-admin">$<%- product.price %></p>
                    </div>
                    <div class="button-admin">
                        <button class="button-edit"><a href="/admin/<%- product.id %>/edit">Editar</a></button>
                        <button class="button-delete"><a href="/admin/<%- product.id %>/edit">Eliminar</a></button>
                    </div>
                </div>
            <% }) %>
        </article> -->
    </main>
</body>
</html>