<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="body-admin">
    <%- include('../partials/header-admin') %>
    <main class="main-perfil">
        <form class="contenedor-admin" method="POST" action="/admin/<%- product.id %>/edit?_method=PUT" enctype="multipart/form-data">
            <div class="product-detail-edit">
                <div class="img-container-edit">
                    <img class="img-edit" src="/images/productos/<%- product.productImages[0].image %>" alt="producto">
               </div>           
            </div>
            <div class="edit-inf">
                <label class="estilo" for="name">Nombre</label>
                <input name="name" class="rellenar-name" type="text" id="name" placeholder="Nombre Producto" value="<%= product.name %>">
                <% if (locals.errors && errors.name) { %>
                    <small class="text-danger"><%= errors.name.msg %></small>
                <% } %>
                <label class="estilo" for="price">Precio</label>
                <input name="price" class="rellenar-name" type="number" id="price" placeholder="Precio" value="<%= product.price %>">
                <% if (locals.errors && errors.price) { %>
                    <small class="text-danger"><%= errors.price.msg %></small>
                <% } %>
                <label class="estilo" for="stock">Stock</label>
                <input name="stock" class="rellenar-name" type="number" id="stock" placeholder="Stock" value="<%= product.stock %>">
                <label class="estilo" for="discount">Descuento</label>
                <input name="discount" class="rellenar-name" type="number" id="stock" value="<%= product.discount %>">
                <label class="estilo" class="estilo" for="producto-img">Agregue foto del producto</label>
                <input type="file" name="producto-img" accept="png" class="input-admin" multiple>
                <h3 class="estilo">Elige la categoria:</h3>
                <label class="estilo" for="categoria-edit"></label>
                <select name="category" id="categoria-edit" class="select-admin" required>
                    <option value="<%= product.category %>">categoria</option>
                    <% categories.forEach(category => { %>
                        <option value="<%- category.id %>" <%- locals.old && old.category == category.id ? "selected" : category.id == product.category ? "selected" : "" %>><%- category.name %></option>
                     <% }) %>
                </select>
                <% if (locals.errors && errors.category) { %>
                    <small class="text-danger"><%= errors.category.msg %></small>
                <% } %>
                <h3 class="estilo">Elige la subcategoria:</h3>
                <label class="estilo" for="subcategory-edit"></label>
                <select name="category" id="subcategory-edit" class="select-admin" required>
                    <option value="<%= product.category %>">subcategoria</option>
                    <% categories.forEach(category => { %>
                        <option value="<%- category.id %>" <%- locals.old && old.category == category.id ? "selected" : category.id == product.category ? "selected" : "" %>><%- category.name %></option>
                     <% }) %>
                </select>
                <% if (locals.errors && errors.subcategory) { %>
                    <small class="text-danger"><%= errors.subcategory.msg %></small>
                <% } %>
                <textarea name="descripcion" id="descripcion-admin" cols="30" rows="10"><%= product.description %></textarea>
            </div>


            <div class="div-button-create">

                <button class="button-create" type="submit">Guardar</button>
                </div>

            </div>
        </form>
<!--         <form action="/admin/<%- product.id %>?_method=DELETE" method="POST">
            <button class="eliminar-todo-btn" type="submit">Eliminar Producto</button>
        </form> -->
        
        
    </main>
</body>
</html>