<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>editar producto</title>
</head>
<body>
    <header class="logo-admin">
        <img class="logo-tech" src="/images/logos/eva.png" alt="techRam logo" width="10%" height="100%">
        <div class="burguer-responsive">
            <input type="checkbox" id="menu-responsive">
                <label for="menu-responsive"><i class="fas fa-bars"></i></label>
                <ul class="nav__ul">
                    <li class="nav__li"><a href="admin/" class="nav__a">PRODUCTOS</a></li>
                    <li class="nav__li"><a href="admin/create" class="nav__a">CREAR PRODUCTO</a></li>
                    <li class="nav__li"><a href="perfil" class="nav__a">NO SE</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main-perfil">
        <form class="contenedor-admin" action="/admin/edit/<%= product.id %>?_method=PUT" method="POST">
            <div class="product-detail-edit">
                <div class="img-container-edit">
                    <img class="img-edit" src="/images/productos/producto1.png" alt="a" value="<% product.image %>">
                    <div class="button-edit-product">
                        <div class="button-container-edit-admin">
<!--                             <button type="submit" class="eliminar-todo-btn2" >Editar</button>
                            <button class="eliminar-todo-btn1" action="/admin/delete/<%- product.id %>?_method=DELETE" method="POST">Eliminar</button> -->
                            <!-- <button class="eliminar-todo-btn3" >Agregar</button> -->
        
                        </div>
               </div>
            
            </div>
            <div class="edit-inf">
                <h3 class="price-edit"><i><%product.name%></i></h3>
                <label for="name"></label>
                <input class="rellenar-name" type="text" id="name" placeholder="Nombre Producto" value="<%= product.name %>">
                <div class="button-container-edit-admin">
<!--                     <button class="eliminar-todo-btn2">Editar</button>
                    <button class="eliminar-todo-btn1" action="/admin/product/delete/<%- product.id %>?_method=DELETE" method="POST">Eliminar</button> -->
                </div>
                <h3 class="price-edit">Precio</h3>
                <label for="price"></label>
                <input class="rellenar-name" type="text" id="price" placeholder="Precio" value="<% product.price %>">
                <div class="button-container-edit-admin">
<!--                     <button class="eliminar-todo-btn2" href="/admin/product/edit/<%= product.id %>">Editar</button>
                    <button class="eliminar-todo-btn1" action="/admin/product/delete/<%- product.id %>?_method=DELETE" method="POST">Eliminar</button> -->
                </div>
                <h3 class="price-edit">Stock</h3>
                <label for="editt"></label>
                <input class="rellenar-name" type="text" id="editt" placeholder="Stock" value="<% product.stock %>">
            
                <div class="button-container-edit-admin">
<!--                     <button class="eliminar-todo-btn2" href="/admin/product/edit/<%= product.id %> "> Editar </button>
                    <button class="eliminar-todo-btn1" action="/admin/product/delete/<%- product.id %>?_method=DELETE" method="POST">Eliminar</button> -->
                </div>
            </div>


            <div class="eliminar-todo">
                <button class="eliminar-todo-btn2" type="submit">Guardar</button>
                <button class="eliminar-todo-btn">Eliminar Producto</button>
            </div>

            </div>
        </form>
        
    </main>
</body>
</html>