<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>editar producto</title>
</head>
<body>
    <%- include('../partials/header-admin') %>
    <main class="main-perfil">
        <form class="contenedor-admin" method="POST" action="/admin/<%- product.id %>/edit?_method=PUT" enctype="multipart/form-data">
            <div class="product-detail-edit">
                <div class="img-container-edit">
                    <img class="img-edit" src="/images/productos/<%- product.image %>" alt="producto">
                    <div class="button-edit-product">
                        <div class="button-container-edit-admin">
        
                        </div>
               </div>
            
            </div>
            <div class="edit-inf">
                <h3 class="price-edit"><i><%-product.name%></i></h3>
                <label for="name"></label>
                <input name="name" class="rellenar-name" type="text" id="name" placeholder="Nombre Producto" value="<%= product.name %>">
                <div class="button-container-edit-admin">
                </div>
                <h3 class="price-edit">Precio</h3>
                <label for="price"></label>
                <input name="price" class="rellenar-name" type="number" id="price" placeholder="Precio" value="<%= product.price %>">
                <div class="button-container-edit-admin">
                </div>
                <h3 class="price-edit">Stock</h3>
                <label for="stock"></label>
                <input name="stock" class="rellenar-name" type="text" id="stock" placeholder="Stock" value="<%= product.stock %>">
            
                <div class="button-container-edit-admin">
                </div>

                <label class="estilo" for="category">Elige la categoria:</label>
                <select name="category" id="categoria-admin" class="select-admin" required>
                    <option value="<%= product.category %>">categoria</option>
                    <option value="<%= product.category %>">categoria</option>
                    <option value="<%= product.category %>">categoria</option>
                    <option value="<%= product.category %>">categoria</option>
                    <option value="<%= product.category %>">categoria</option>
                    <option value="<%= product.category %>">categoria</option>
                </select>
            </div>


            <div class="eliminar-todo">

                <button class="eliminar-todo-btn2" type="submit">Guardar</button>
                </div>

            </div>
        </form>
        <form action="/admin/<%- product.id %>?_method=DELETE" method="POST">
            <button class="eliminar-todo-btn" type="submit">Eliminar Producto</button>
        </form>
        
    </main>
</body>
</html>