<section class="productos">
    <h3 class="title-card">Productos destacados</h3>
    <article class="productos-article">
        <% productsDestacados.forEach(product => { %>
            <div class="productos-article__card">
                <div class="card-img">                        
                    <a href="/products/detail/<%- product.id %>"><img src="images/productos/<%= product.image %>" alt="pc"></a>
                    <h5 class="descripcion-producto"><%- product.name %> </h5>
                    <p class="price">$<%- product.price %></p>
                </div>
                <div class="button-producto">
                    <a href="detalle">VER PRODUCTO</a>
                </div>
            </div>
        <% }) %>
    </article>
    <h3 class="title-card">Lo que esta en oferta</h3>
    <article class="productos-article">
        <% productsInSale.forEach(product => { %>
            <div class="productos-article__card">
                <div class="card-img">                        
                    <a href="/products/detail/<%- product.id %>"><img src="images/productos/<%= product.image %>" alt="pc"></a>
                    <h5 class="descripcion-producto"><%= product.name %> </h5>
                    <p class="price">$<%= product.price %> </p>
                </div>
                <div class="button-producto">
                    <a href="detalle">VER PRODUCTO</a>
                </div>
            </div>
        <% }) %>
    </article>
</section>