<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
    <!-- <script src="/js/loginFront.js" defer></script> -->

    <body>

        <%- include('../partials/header') %>

            <div class="login-container">
                <div class="login-info-container">
                    <h1 class="title">Ingresa con</h1>
                    <div class="social-login">
                        <div class="social-login-element">
                            <img src="/images/logos/google.svg" alt="google-image">
                            <span>Google</span>
                        </div>
                        <div class="social-login-element">
                            <img src="/images/logos/facebook.svg" alt="facebook-image">
                            <span>Facebook</span>
                        </div>
                    </div>
                    <p>ó</p>
                    <form action="/users/login" method="POST" class="inputs-container">
                        <input class="input" name="email" type="email" placeholder="email" id="emailFront">
                        <% if(locals.errors && errors.email){%>
                            <small class='text-danger' id="emailError">
                                <%=errors.email.msg%>
                            </small>
                            <% }%>
                                <input class="input" name='pass' type="password" placeholder="Contraseña"
                                    id="passFront">
                                <% if(locals.errors && errors.pass){%>
                                    <small class='text-danger' id="passError">
                                        <%=errors.pass.msg%>
                                    </small>
                                    <% }%>
                                        <p class="anexo"><input id="checkbox" type="checkbox" name="recordar">Recordar
                                            contraseña</p>
                                        <p class="anexo">Olvidaste tu contraseña? <a class="span">Click aquí</a></p>

                                        <button type="submit" class="btn">login</button>
                                        <p class="anexo">Aún no tienes una cuenta? <a class="span"
                                                href="/register">Registrate aquí</a></p>
                    </form>
                </div>
                <img class="image-container" src="/images/logos/eva.png" alt="Logo techRam">
            </div>

            <%- include('../partials/footer') %>
                <script>
                window.onload = () => {
                    let $form = document.querySelector('form');
                    let $emailFront = document.querySelector('#emailFront');
                    let $passFront = document.querySelector('#passFront');

                    //exprecion regular para email 
                    /* let regEx = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/ */


                    //que el campo email no este vacio
                    $emailFront.addEventListener('change', (event) => {
                        console.log(event.target.value)
                       /*  let value = event.target.value; */
                       /*  if (value.length == 0) {
                            let mensajeError = 'Debe ingresar un email'
                            error.emailFrontError = mensajeError
                            emailError.innerHTML = mensajeError */ //cuando hace click en el campo ,sale y no lo completa se muestra el msg de error
                      /*   } else {
                            emailError.innerHTML = ""
                        } */
                    })
                    //contraseña 
                    $passFront.addEventListener('blur', (event) => {
                        let value = event.target.value;
                        if (value.length == 0) {
                            let mensajeError = 'Debe ingresar una contraceña'
                            error.passFrontError = mensajeError
                            passError.innerHTML = mensajeError
                        } else {
                            passError.innerHTML = ""
                        }
                    })

                    //para que el form no se envie incompleto.
                    $form.addEventListener('submit', (event) => {
                        event.preventDefault()
                        alert('Tenes que completar los campos requeridos')
                    })

                }
                </script>
    </body>

</html>