<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="register-container">
        <div class="register-info-cont">
          <h1 class="title">Registrate con</h1>
          <div class="redes-register">
            <div class="redes-register-elemnt">
              <img src="/images/logos/facebook.svg" alt="Google" />
              <span>Facebook</span>
            </div>
            <div class="redes-register-elemnt">
              <img src="/images/logos/google.svg" alt="Google" />
              <span>Google</span>
            </div>
          </div>
          <p class="anexo">ó</p>
          <form action="/users/register" class="inputs-container" method="POST" enctype="multipart/form-data">
            <label for="nombre"></label>
            <input class="input-register" type="text" name="firstName" id="nombre" placeholder="Ingrese su nombre" value="<%= locals.old && old.firstName %>"/>
            <% if (locals.errors && errors.firstName) { %>
              <small class="text-danger"><%= errors.firstName.msg %> </small>
            <% } %>
            <label for="apellido"></label>
            <input class="input-register" type="text" name="lastname" id="apellido" placeholder="Ingrese su apellido" value="<%= locals.old && old.lastname %>"/>
            <% if (locals.errors && errors.lastname) { %>
              <small class="text-danger"><%= errors.lastname.msg %> </small>
            <% } %>
            <label for="email"></label>
            <input class="input-register" type="email" name="email" placeholder="email"/>
            <% if (locals.errors && errors.email) { %>
              <small class="text-danger"><%= errors.email.msg %> </small>
            <% } %>
            <label for="password"></label>
            <input class="input-register" type="password" name="pass" placeholder="Contraseña"/>
            <% if (locals.errors && errors.pass) { %>
              <small class="text-danger"><%= errors.pass.msg %> </small>
            <% } %>
            <label for="phone"></label>
            <input class="input-register" type="number" name="phone" placeholder="telefono"/>
            <% if (locals.errors && errors.phone) { %>
              <small class="text-danger"><%= errors.phone.msg %> </small>
            <% } %>

            <!-- <input class="input-register" type="password" name="password" placeholder="Repite la Contraseña"/> -->
            
            <label class="anexo" for="dropdown" id="provincia"></label>
            <select id="dropdown" class="input-register" required>
              <option value="Buenos Aires">Buenos Aires</option>
              <option value="Capital Federal">Capital Federal</option>
              <option value="Catamarca">Catamarca</option>
              <option value="Chaco">Chaco</option>
              <option value="Chubut">Chubut</option>
              <option value="Cordoba">Córdoba</option>
              <option value="Corrientes">Corrientes</option>
              <option value="Entre Rios">Entre Ríos</option>
              <option value="Formosa">Formosa</option>
              <option value="Jujuy">Jujuy</option>
              <option value="La Pampa">La Pampa</option>
              <option value="La Rioja">La Rioja</option>
              <option value="Mendoza">Mendoza</option>
              <option value="Misiones">Misiones</option>
              <option value="Neuquen">Neuquén</option>
              <option value="Rio Negro">Río Negro</option>
              <option value="Salta">Salta</option>
              <option value="San Juan">San Juan</option>
              <option value="San Luis">San Luis</option>
              <option value="Santa Cruz">Santa Cruz</option>
              <option value="Santa Fe">Santa Fe</option>
              <option value="Santiago del Estero">Santiago del Estero</option>
              <option value="Tierra del Fuego">Tierra del Fuego</option>
              <option value="Tucuman">Tucumán</option>
            </select>

            <label for="name"></label>
            <input  class="input-register" type="text" placeholder="Localidad" name="localidad" id="name">

            <label for="Numero"></label>
            <input class="input-register" type="number" placeholder="Codigo Postal" name="cp" id="Numero">

            <label for="Dirrecion"></label>
            <input class="input-register" type="text" placeholder="Direccion" name="address" id="name">.

            <label for="user-img">Agregue su foto del perfil</label>
            <input type="file" name="user-img" id="user-img" accept="jpg">
            <% if (locals.errors && errors.image) { %>
              <small class="text-danger"><%= errors.image.msg %> </small>
            <% } %>

            <p class="anexo">Acepto los <a class="anexo-a" href="#">Terminos y Condiciones</a> y autorizo el uso
              de mis datos de acuerdo a la Declaración de Privacidad</p>
            <button type="submit" class="btn">Registrate</button>

            <p class="anexo">tienes una cuenta? <a class="anexo-a" href="/login">Ingresa aquí</a></p>
          </form>
        </div>

        <div class="images-container">
          <img src="/images/logos/eva.png" alt="Logo techRam"
          style="
    width: 90%;
    height: 82%;
    padding-top: 30px;
" />
        </div>
      </div>

      <%- include('../partials/footer') %>
  </body>

</html>